nav, .nav-item{
  border:solid 3px whitesmoke;
  border-radius: 14px;
  padding: 2px;
  margin: 20px;
}
.nav-item-greeting{
  border:solid 3px whitesmoke;
  border-radius: 14px;
  padding: 2px;
  margin: 20px;
  color: white
}
img{
  width: 50px;
  height: 50px;
}
.navbar-toggler-icon{
  color: aliceblue;
  margin: 2px 10px;
  padding-right: 20px;
}
